<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quia
      unde delectus assumenda dicta cum repellendus deleniti. Consectetur, illo
      velit, iste vero cupiditate inventore mollitia soluta, cumque ex at
      voluptate!</p>
  </div>
</div>