<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodes and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4" />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
    voluptatem, hic tempora culpa delectus obcaecati minima pariatur non, ipsum
    in consequuntur inventore, nam ad corporis. Nisi eveniet nam veniam laborum?</p>
    <a href="https://alexcoronado.com" class="btn btn-primary btn-lg" target="blank">Alex Coronado web</a>
</div>